<div class="modal fade" id="{{stringThatIsUsedForModalIdInTemplate}}" tabindex="-1" role="dialog" aria-labelledby="{{stringThatIsUsedForModalIdInTemplate}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" {{action 'goBackToCalendar'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="{{stringThatIsUsedForModalIdInTemplate}}Label">Edit Appointment</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{
            appointment-editor
            model=appointment
            listOfServices=services
            listOfEmployess=employees
            listOfClients=clients
            store=store
            onSaveAction=(action "saveAppointment")
            onCancelAction=(action "goBackToCalendar")
            onDidInsertElementAction=(action "showModal")
          }}
        </div>
      </div>
    </div>
  </div>
</div>
