<div class="modal fade" id="{{modalIdName}}" tabindex="-1" role="dialog" aria-labelledby="{{modalIdName}}Label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" {{action 'goBackToCalendar'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" {{action 'deleteAppointment'}}>Delete Appointment</button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{
            appointment-editor
            model=appointment
            listOfServices=services
            listOfEmployess=employees
          }}
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn-group" role="group" aria-label="Appointment control buttons" style="width: 100%">
          <button type="button" class="btn btn-primary" {{action 'saveAppointment'}} style="width: 50%;">Save changes</button>
          <button type="button" class="btn btn-secondary" {{action 'goBackToCalendar'}} style="width: 50%;">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
