<div class="table-responsive">
  <h3 class="page-title">Manage Employees</h3>
  <table class="employees-table">
    <thead>
      <tr>
        <th><h1>Employee ID</h1></th>
        <th><h1>Full Name</h1></th>
        <th><h1>Phone</h1></th>
        <th><h1>Start Date</h1></th>
        <th><h1>End Date</h1></th>
        <th></th>
        <th></th>
        <th><h1>User Account</h1></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |employee|}}
        <tr>
          <td>
            {{employee.id}}
          </td>
          <td>
            {{employee.fullName}}
          </td>
          <td>
            {{employee.phoneNumber}}
          </td>
          <td>
            {{employee.startDate}}
          </td>
          <td>
            {{employee.endDate}}
          </td>
          <td class='employee-operation'>
            {{#link-to 'employees.show' employee.id class="dropdown-item"}}
              <span class="glyphicon glyphicon-pencil"></span>
            {{/link-to}}
          </td>
          <td class='employee-operation'>
            {{#link-to 'employees.delete' employee.id class="dropdown-item"}}
              <span class="glyphicon glyphicon-minus"></span>
            {{/link-to}}
          </td>
          <td class='employee-operation'>
          {{#if employee.user}}
            {{#link-to 'users.show' employee.user.id class="dropdown-item"}}
              <span class="glyphicon glyphicon-user"></span>
            {{/link-to}}
          {{else}}
            {{#link-to 'users.new' employee.id class="dropdown-item"}}
              <span class="glyphicon glyphicon-plus"></span>
            {{/link-to}}
          {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <br>
  </table>
   <div class="buttons">
     {{#link-to 'employees.new' class="btn btn-primary managing" }}
      <span class="glyphicon glyphicon-plus"></span> Add Employee
     {{/link-to}}
  </div>
</div>
