<div class="table-responsive" style="overflow-x:auto;">
  <h3 class="page-title">Manage Employees</h3>
  <table class="table table-hover employees-table">
    <thead class="thead-inverse ">
      <tr>
        <th><h1>Employee ID</h1></th>
        <th><h1>Last Name</h1></th>
        <th><h1>First Name</h1></th>
        <th><h1>Email</h1></th>
        {{!-- <th>Address</th> --}}
        <th><h1>Phone</h1></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |employee|}}
        <tr>
          <td>
            {{employee.id}}
          </td>
          <td>
            {{employee.last_name}}
          </td>
          <td>
            {{employee.first_name}}
          </td>
          <td>
            {{employee.email}}
          </td>
          <td>
            {{employee.phone}}
          </td>
        </tr>
      {{/each}}
    </tbody>
    <br>
  </table>
   <div class="buttons">
     {{#link-to 'employees.new' class="btn btn-primary managing" }}
      <span class="glyphicon glyphicon-plus"></span>
     {{/link-to}}
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="submit" class="btn btn-primary managing">
      <span class="glyphicon glyphicon-minus"></span>
    </button>
  </div>
</div>
