<div class="table-responsive">
  <h3 class="page-title">Manage Employees</h3>
  <table class="table table-hover employees-table">
    <thead class="thead-inverse">
      <tr>
        <th><h1>Employee ID</h1></th>
        <th><h1>Last Name</h1></th>
        <th><h1>First Name</h1></th>
        <th><h1>Email</h1></th>
        {{!-- <th>Address</th> --}}
        <th><h1>Phone</h1></th>
        <th><h1>Start Date</h1></th>
        <th><h1> </h1></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |employee|}}
        <tr>
          <td>
            {{employee.id}}
          </td>
          <td>
            {{employee.lastName}}
          </td>
          <td>
            {{employee.firstName}}
          </td>
          <td>
            {{employee.email}}
          </td>
          <td>
            {{employee.phoneNumber}}
          </td>
          <td>
            {{employee.startDate}}
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="user-control-{{employee.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                &#9776;
              </button>
              <div class="dropdown-menu" aria-labelledby="user-control-{{employee.id}}">
                {{#link-to 'employees.show' employee.id class="dropdown-item"}}
                  <span class="glyphicon glyphicon-pencil"></span>
                {{/link-to}}
                <button {{action 'deleteEmployee' employee }} class="dropdown-item">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
    <br>
  </table>
   <div class="buttons">
     {{#link-to 'employees.new' class="btn btn-primary managing" }}
      <span class="glyphicon glyphicon-plus"></span>
     {{/link-to}}
  </div>
</div>
