<div class="modal fade" id="client-editor" tabindex="-1" role="dialog" aria-labelledby="client-editor-label-new" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" {{action 'goBackToListOfClients'}}>
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="client-editor-label-new">New Client</h4>
      </div>
      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash messageStyle='bootstrap'}}
      {{/each}}
      <div class="modal-body">
        <div class="container-fluid">
          {{
            client-editor
            model=model
          }}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" {{action 'goBackToListOfClients'}}>Close</button>
        <button type="submit" class="btn btn-primary" {{action 'saveClient'}}>Save changes</button>
      </div>
    </div>
  </div>
</div>

