<div class="client-booking">
  <div class="pos-f-t">
    <nav class="navbar navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <h5 class="text-center client-booking-title">Booking an Appointment</h5>
      <a class="navbar-brand" href="#"></a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://www.radetailing.ca/"><span class="glyphicon glyphicon-home"></span> Home</a>
          </li>
          <li class="nav-item">{{#link-to 'book-an-appointment' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-book"></span> New Appointment{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="smartwizard" class="wizard_horizontal col-12">
    <ul class="wizard_steps col-12">
      <li class="col-2.4" id='li-1'>
        <a href="#step-1">
          <span class="step_no">1</span>
          <span class="step_descr">Service</span>
        </a>
      </li>
      <li class="col-2.4" id='li-2'>
        <a href="#step-2">
          <span class="step_no">2</span>
          <span class="step_descr">Date</span>
        </a>
      </li>
      <li class="col-2.4" id='li-3'>
        <a href="#step-3">
          <span class="step_no">3</span>
          <span class="step_descr">Your Info</span>
        </a>
      </li>
      <li class="col-2.4" id='li-4'>
        <a href="#step-4">
          <span class="step_no">4</span>
          <span class="step_descr">Confirm</span>
        </a>
      </li>
    </ul>
    <div>
      <div id="step-1">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Select a Service</h6>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"><a href="#small-vehicle-list" data-toggle="tab" class="nav-link active">Small Vehicles</a>
            </li>
            <li class="nav-item"><a href="#large-vehicle-list" data-toggle="tab" class="nav-link">Large Vehicles</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="small-vehicle-list">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th></th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each smallVehicleServices as |service|}}
                  <tr>
                    <td>
                      <button class="btn btn-outline-info service-selection-btn" {{action 'selectService' service}}>{{service.name}}</button>
                    </td>
                    <td>
                      <a href="#" class="popover-button" rel="popover" data-container="body" data-toggle="popover" data-placement="left" data-content="{{service.description}}">
                        <span class="glyphicon glyphicon-info-sign" ></span>
                      </a>
                    </td>
                    <td>{{service.price}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="large-vehicle-list">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th></th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each largeVehicleServices as |service|}}
                  <tr>
                    <td>
                      <button class="btn btn btn-outline-info service-selection-btn" {{action 'selectService' service}}>{{service.name}}</button>
                    </td>
                    <td>
                      <a href="#" class="popover-button" rel="popover" data-container="body" data-toggle="popover" data-placement="left" data-content="{{service.description}} ">
                        <span class="glyphicon glyphicon-info-sign" ></span>
                      </a>
                    </td>
                    <td>{{service.price}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="buttons">
            <button class="btn btn-next btn-md col-4" id="move-to-date-selection" disabled="disabled"{{action 'moveToNextPage' 1 }}>Next</button>
          </div>
        </div>
      </div>
      <div id="step-2">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Select a Date</h6>
            {{bootstrap-datepicker-inline value=expiresAt todayHighlight=true startDate=currentDate daysOfWeekDisabled=company.daysOfWeekNotWorking changeDate="changeDateAction"}}
            {{#if selectTime}}
              {{appointment-time-selection
                selectTime= selectTime
                selectEmployee= selectEmployee
                selectedDate= selectedDate
                appointment= appointment
                listOfEmployees= employees
                company= company
                selectedTime= selectedTime
                store=store
              }}
            {{/if}}
          <div class="buttons">
            <button class="btn btn-prev btn-md col-4" {{action 'moveToPreviousPage' 2 }}>Prev</button>
            <button class="btn btn-next btn-md col-4" disabled="disabled" id="move-to-information-input" {{action 'moveToNextPage' 2 }}>Next</button>
          </div>
        </div>
      </div>
      <div id="step-3">
        <div class="smart-wizard-step">
          <h6 class="wizard-header">Please Fill in the Information</h6>
          <div class="col-12">
            {{
              client-information-form
              client=client
              appointment=appointment
            }}
          </div>
        </div>
      </div>
      <div id="step-4">
        <div class="smart-wizard-step">
          {{
            client-booking-overview
            appointment=appointment
            client=client
            flashMessages=flashMessages
            selectedDate=selectedDate
            selectedTime=selectedTime
          }}
           <div class="buttons">
            <button class="btn btn-prev btn-md col-5" {{action 'moveToPreviousPage' 4 }}>Prev</button>
            <button class="btn btn btn-danger btn-md col-5" {{action 'bookAppointment'}}>Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
