{{#if (and model listOfServices listOfEmployess onSaveAction onCancelAction onDidInsertElementAction)}}
  <div class="row">
    <div class="col-12 remove-padding-left remove-padding-right">
      {{#if (and wasServiceSelected showLocationMapDiv)}}
        <div class="form-group row remove-margin-left remove-margin-right">
          <label for="appointment-location-map" class="col-5 col-form-label font-weight-bold text-uppercase remove-padding-left">Show Map:</label>
          <div class="admin-switch" {{action 'toggleShowLocationMap'}}>
            {{input type="checkbox" id="appointment-location-map" class="checkbox" checked=showLocationMap}}
            <div class="slider round"></div>
          </div>
        </div>
        {{#if showLocationMap}}
          <div class="form-group">
            {{location-map location=model.location}}
          </div>
        {{/if}}
      {{/if}}
      <div class="form-group">
        <label for="service" class="col-form-label font-weight-bold text-uppercase">Service:</label>
        {{#power-select
          options=listOfServices
          selected=aSelectedService
          renderInPlace=true
          searchField="name"
          placeholder="Select a service"
          onchange=(action "selectService")
          as |service|
        }}
         {{service.name}} - {{service.vehicleSize}} - ${{service.price}}
        {{/power-select}}
      </div>
      <div class="form-group">
        <label for="staff" class="col-form-label font-weight-bold text-uppercase">Staff:</label>
        {{#power-select
          options=listOfEmployess
          selected=aSelectedEmployee
          renderInPlace=true
          searchField="fullName"
          placeholder="Select a staff member"
          onchange=(action "selectEmployee")
          as |employee|
        }}
         {{employee.fullName}}
        {{/power-select}}
      </div>
      <div class="form-group">
          <label for="staff" class="col-xs-12 col-form-label font-weight-bold text-uppercase">Client:</label>
          <div class="col-xs-12">
            {{#power-select
              options=listOfClients
              selected=aSelectedClient
              renderInPlace=true
              searchField="fullName"
              placeholder="Select a client"
              onchange=(action "selectClient")
              as |client|
            }}
             {{client.fullName}}
            {{/power-select}}
          </div>
        </div>
      {{#if wasServiceSelected}}
        <div class="form-group">
          <label for="appointment-cost" class="col-form-label font-weight-bold text-uppercase">Cost:</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            {{input type="number" pattern="\d*" class="form-control" id="appointment-cost" value=model.cost placeholder="Please enter the cost"}}
          </div>
        </div>
        <div class="form-group">
          <label for="appointment-location" class="col-form-label font-weight-bold text-uppercase">Location:</label>
          {{input type="text" class="form-control" id="appointment-location" value=model.location placeholder="ex: 174 Bank St, Ottawa, On"}}
        </div>
        {{#if aSelectedEmployee}}
          <details><summary><label for="appointment-start-time" class="col-form-label font-weight-bold text-uppercase">Date Selection:</label></summary>
            <p class="col-form-label font-weight-bold text-uppercase">Working on:</p>
            <p class="text-center">{{model.employee.companyPreference.daysOfWeekWorking}}</p>
            <hr />
            <div class="form-group">
              {{bootstrap-datepicker-inline value=expiresAt todayHighlight=true startDate=currentDate changeDate="selectAppointmentTime"}}
            </div>
            {{#if selectTime}}
            <label for="appointment-time" class="col-xs-12 col-form-label font-weight-bold appointment-time-label">Available Times:</label>
              <div class="available-time-choices" style="text-align: center">
              {{#if availableTimes}}
                {{#each availableTimes as |time|}}
                  <button type="button" class="btn col-3 time-button" {{action 'confirmSelection' time}}>{{time}}</button>
                {{/each}}
              {{else}}
                <p>No appointment times available</p>
              {{/if}}
              </div>
            {{/if}}
          </details>
        {{else}}
          <p class="font-weight-bold text-uppercase">Please Select an employee to begin date Selection</p>
        {{/if}}
        <div class="form-group">
          <label for="appointment-start-time" class="col-form-label font-weight-bold text-uppercase">Starts:</label>
          {{input type="datetime-local" class="form-control" id="appointment-start-time" value=model.formattedStart readonly=true}}
        </div>
        <div class="form-group">
          <label for="appointment-end-time" class="col-form-label font-weight-bold text-uppercase">Ends:</label>
          {{input type="datetime-local" class="form-control" id="appointment-end-time" value=model.formattedEnd readonly=true}}
        </div>
        <div class="form-group">
            <label for="appointment-status" class="col-xs-12 col-form-label font-weight-bold text-uppercase">Status:</label>
            <div class="col-xs-12">
              {{#power-select
                options=listOfAppointmentStatuses
                selected=model.status
                renderInPlace=true
                searchEnabled=false
                placeholder="Appointment Status"
                onchange=(action "selectAppointmentStatus")
                as |status|
              }}
               {{status}}
              {{/power-select}}
            </div>
          </div>
        <div class="form-group">
          <label for="appointment-notes" class="col-form-label font-weight-bold text-uppercase">Notes:</label>
          {{textarea class="form-control" id="appointment-notes" value=model.notes rows=3}}
        </div>
        <div class="form-group">
          <div class="btn-group" role="group" aria-label="Appointment control buttons">
            <button type="button" class="btn btn-primary" {{action 'onSaveClick'}}>Save</button>
            <button type="button" class="btn btn-secondary" {{action 'onCancelClick'}}>Cancel</button>
          </div>
        </div>
      {{else}}
        <div class="form-group">
          <button type="button" class="btn btn-outline-primary btn-block" {{action 'onCancelClick'}}>Cancel</button>
        </div>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="alert alert-danger" role="alert">
      Please check the appointment-editor configuration. You are missing needed parameters.
    </div>
  </div>
{{/if}}
