{{#if (and model listOfServices listOfEmployess)}}
  <div class="row">
    <div class="col-12">
        <div class="form-group">
          <label for="service" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Service:</label>
          <div class="col-xs-12">
            {{#power-select
              options=listOfServices
              selected=aSelectedService
              renderInPlace=true
              searchField="name"
              placeholder="Select a service"
              onchange=(action "selectService")
              as |service|
            }}
             {{service.name}} - {{service.vehicleSize}} - ${{service.price}}
            {{/power-select}}
          </div>
        </div>
        <div class="form-group">
          <label for="staff" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Staff:</label>
          <div class="col-xs-12">
            {{#power-select
              options=listOfEmployess
              selected=aSelectedEmployee
              renderInPlace=true
              searchField="fullName"
              placeholder="Select a staff member"
              onchange=(action "selectEmployee")
              as |employee|
            }}
             {{employee.fullName}}
            {{/power-select}}
          </div>
        </div>
        {{#if wasServiceSelected}}
          <div class="form-group">
            <label for="appointment-cost" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Cost:</label>
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                {{input type="number" pattern="\d*" class="form-control" id="appointment-cost" value=model.cost placeholder="Please enter the cost"}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="appointment-start-time" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Starts:</label>
            <div class="col-xs-12">
              {{input type="datetime-local" class="form-control" id="appointment-start-time" value=model.formattedStart}}
            </div>
          </div>
          <div class="form-group">
            <label for="appointment-end-time" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Ends:</label>
            <div class="col-xs-12">
              {{input type="datetime-local" class="form-control" id="appointment-end-time" value=model.formattedEnd}}
            </div>
          </div>
          <div class="form-group">
            <label for="appointment-status" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Status:</label>
            <div class="col-xs-12">
              {{#power-select
                options=listOfAppointmentStatuses
                selected=model.status
                renderInPlace=true
                searchEnabled=false
                placeholder="Appointment Status"
                onchange=(action "selectAppointmentStatus")
                as |status|
              }}
               {{status}}
              {{/power-select}}
            </div>
          </div>
          <div class="form-group">
            <label for="appointment-notes" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Notes:</label>
            <div class="col-xs-12">
              {{textarea class="form-control" id="appointment-notes" value=model.notes rows=3}}
            </div>
          </div>
        {{/if}}
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="alert alert-danger" role="alert">
      Please check the appointment-editor configuration. You are missing needed parameters.
    </div>
  </div>
{{/if}}
