<div class="row">
  <div class="form-group row">
    <label for="appointment-title" class="col-xs-4 col-form-label">Appointment Title</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.title id="appointment-title"}}
    </div>
  </div>
  <div class="btn-group appointment-button-div">
    <label for="service" class="col-xs-4 col-form-label">Service</label>
    <div class="col-xs-8 appointment-button">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{#if model.service.name}}
        {{model.service.name}}
      {{else}}
        None
      {{/if}}
      </button>
      <div class="dropdown-menu">
        {{#each services as |service|}}
          <button class="dropdown-item" {{action 'selectService' service model}}>{{service.name}}</button>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-background-color" class="col-xs-4 col-form-label">Background Color</label>
    <div class="col-xs-8">
      {{input type="color" class="form-control" value=model.color id="appointment-background-color"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-text-color" class="col-xs-4 col-form-label">Text Color</label>
    <div class="col-xs-8">
      {{input type="color" class="form-control" value=model.textColor id="appointment-text-color"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-start-time" class="col-xs-4 col-form-label">Appointment Start</label>
    <div class="col-xs-8">
      {{input type="datetime-local" class="form-control" id="appointment-start-time" value=model.start}}
      <small>Temp: {{model.start}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-end-time" class="col-xs-4 col-form-label">Appointment End</label>
    <div class="col-xs-8">
      {{input type="datetime-local" class="form-control" id="appointment-end-time" value=model.end}}
      <small>Temp: {{model.end}}</small>
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-notes" class="col-xs-4 col-form-label">Notes</label>
    <div class="col-xs-8">
      {{textarea class="form-control" id="appointment-notes" value=model.notes rows=3}}
    </div>
  </div>
</div>
