<div class="row">
  <div class="form-group row">
    <label for="service" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Service:</label>
    <div class="col-xs-12">
      {{#power-select
        options=listOfServices
        selected=aSelectedService
        renderInPlace=true
        searchField="name"
        placeholder="Select a service"
        onchange=(action "selectService")
        as |service|
      }}
       {{service.name}}
      {{/power-select}}
    </div>
  </div>
  <div class="form-group row">
    <label for="service" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Staff:</label>
    <div class="col-xs-12">
      {{#power-select
        options=listOfEmployess
        selected=aSelectedEmployee
        renderInPlace=true
        searchField="fullName"
        placeholder="Select a staff member"
        onchange=(action "selectEmployee")
        as |employee|
      }}
       {{employee.fullName}}
      {{/power-select}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-date" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Date:</label>
    <div class="col-xs-12">
      {{input type="date" class="form-control" id="appointment-date" value=model.date}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-start-time" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Starts:</label>
    <div class="col-xs-12">
      {{input type="time" class="form-control" id="appointment-start-time" value=model.start}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-end-time" class="col-xs-12 col-form-label">Ends</label>
    <div class="col-xs-12">
      {{input type="datetime-local" class="form-control" id="appointment-end-time" value=model.end}}
    </div>
  </div>
  <div class="form-group row">
    <label for="appointment-notes" class="col-xs-12 col-form-label">Notes</label>
    <div class="col-xs-12">
      {{textarea class="form-control" id="appointment-notes" value=model.notes rows=3}}
    </div>
  </div>
</div>
