<div class="row">
<p>{{appointment}}</p>
  <div class="col-12">
    <form class="form-horizontal form-label-left input_mask client-information-form">
      <div class="form-group row">
        <label for="client-first-name" class="col-3 col-form-label">First Name</label>
        <div class="col-lg-9 col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            {{input required="required" class="form-control" value=client.firstName id="client-first-name" placeholder="First Name"}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="client-last-name" class="col-3 col-form-label">Last Name</label>
        <div class="col-lg-9 col-md-9">
          <div class="input-group">
            {{input required="required" class="form-control" value=client.lastName id="client-last-name" placeholder="Last Name"}}
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          </div>
        </div>
      </div>
       <div class="form-group row">
        <label for="client-email" class="col-3 col-form-label">Email</label>
        <div class="col-lg-9 col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              {{input required="required" type="text" class="form-control" value=client.email id="client-email" placeholder="E-mail"}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="client-phone-number" class="col-3 col-form-label">Phone Number</label>
        <div class="col-lg-9 col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span></span>
            {{input type="tel" class="form-control" value=client.phoneNumber id="client-phone-number" required="required" placeholder="Please use 000-000-0000 as format"}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="client-street" class="col-3 col-form-label">Street</label>
        <div class="col-lg-9 col-md-9">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span></span>
            {{input required="required" type="text" class="form-control" value=client.street id="client-street" placeholder="Street"}}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="client-city" class="col-4 col-form-label">City</label>
        <div class="col-lg-9 col-md-9">
          {{input required="required" type="text" class="form-control" value=client.city id="client-city"}}
        </div>
      </div>
      <div class="form-group row">
        <label for="client-province" class="col-4 col-form-label">Province</label>
        <div class="col-lg-9 col-md-9">
          {{input required="required" type="text" class="form-control" value=client.province id="client-province"}}
        </div>
      </div>
      <div class="form-group row">
        <label for="client-postal-code" class="col-4 col-form-label">Postal Code</label>
        <div class="col-lg-9 col-md-9">
          {{input required="required" type="text" class="form-control" value=client.postalCode id="client-postal-code" placeholder="Postal Code: use A#A #A# as format"}}
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-success" type="submit" {{action 'verifyInformation'}}>Verify</button>
      </div>
    </form>
    <br />
  </div>
</div>

