{{!-- Modal that will be used to confirm if user wants to procceed with operation --}}
{{#if (eq type "service")}}
  <h3>Delete the following {{type}}?</h3>
  <h4 style="text-align: center">{{model.name}}</h4>
{{else if (or eq type "client"  eq type "employee")}}
  <h3>Delete the following {{type}}?</h3>
  <h4 style="text-align: center">{{model.fullName}}</h4>
{{else if (eq type "user")}}
  <h3>Delete the following account?</h3>
  <h4 style="text-align: center">{{model.email}}</h4>
{{/if}}