<div class="row">
  <div class="col-12">
    <div class="form-group row">
      <label for="employee-first-name" class="col-4 col-form-label">First Name</label>
      <div class="col-8">
        {{input class="form-control" value=model.firstName id="employee-first-name"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-last-name" class="col-4 col-form-label">Last Name</label>
      <div class="col-8">
        {{input class="form-control" value=model.lastName id="employee-last-name"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-phone-number" class="col-4 col-form-label">Phone Number</label>
      <div class="col-8">
        {{input type="tel" class="form-control" value=model.phoneNumber id="employee-phone-number" required="required" placeholder="Please use 000-000-0000 as format"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-street-number" class="col-4 col-form-label">Street Number</label>
      <div class="col-8">
        {{input type="number" pattern="\d*" class="form-control" value=model.streetNumber id="employee-street-number"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-street-name" class="col-4 col-form-label">Street Name</label>
      <div class="col-8">
        {{input type="text" class="form-control" value=model.streetName id="employee-street-name"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-city" class="col-4 col-form-label">City</label>
      <div class="col-8">
        {{input type="text" class="form-control" value=model.city id="employee-city"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-province" class="col-4 col-form-label">Province</label>
      <div class="col-8">
        {{input type="text" class="form-control" value=model.province id="employee-province"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-postal-code" class="col-4 col-form-label">Postal Code</label>
      <div class="col-8">
        {{input type="text" class="form-control" value=model.postalCode id="employee-postal-code" placeholder="Please use K1K 1K1 as format"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-start-date" class="col-4 col-form-label">Start Date</label>
      <div class="col-8">
        {{input type="datetime-local" class="form-control" value=model.startDate id="employee-start-date"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-end-date" class="col-4 col-form-label">End Date</label>
      <div class="col-8">
        {{input type="datetime-local" class="form-control" value=model.endDate id="employee-end-date"}}
      </div>
    </div>
    <div class="form-group row">
      <label for="employee-notes" class="col-4 col-form-label">Notes</label>
      <div class="col-8">
        {{textarea rows="3" class="form-control" value=model.notes id="employee-notes"}}
      </div>
    </div>
  </div>
</div>
