<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="employee-first-name" class="col-form-label editor-label">First Name:</label>
      <div>
        {{input type="text" class="form-control" value=model.firstName id="employee-first-name"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-last-name" class="col-form-label editor-label">Last Name:</label>
      <div>
        {{input type="text" class="form-control" value=model.lastName id="employee-last-name"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-phone-number" class="col-form-label editor-label">Phone Number:</label>
      <div>
        {{input type="text" class="form-control" value=model.phoneNumber id="employee-phone-number" required="required" placeholder="Please use 000-000-0000 as format"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-street-number" class="col-form-label editor-label">Street Number:</label>
      <div>
        {{input type="number" pattern="\d*" class="form-control" value=model.streetNumber id="employee-street-number"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-street-name" class="col-form-label editor-label">Street Name:</label>
      <div>
        {{input type="text" class="form-control" value=model.streetName id="employee-street-name"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-city" class="col-form-label editor-label">City:</label>
      <div>
        {{input type="text" class="form-control" value=model.city id="employee-city"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-province" class="col-form-label editor-label">Province:</label>
      <div>
        {{input type="text" class="form-control" value=model.province id="employee-province"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-postal-code" class="col-form-label editor-label">Postal Code:</label>
      <div>
        {{input type="text" class="form-control" value=model.postalCode id="employee-postal-code" placeholder="Please use K1K 1K1 as format"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-start-date" class="col-form-label editor-label">Start Date:</label>
      <div>
        {{input type="datetime-local" class="form-control" value=model.startDate id="employee-start-date"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-end-date" class="col-form-label editor-label">End Date:</label>
      <div>
        {{input type="datetime-local" class="form-control" value=model.endDate id="employee-end-date"}}
      </div>
    </div>
    <div class="form-group">
      <label for="employee-notes" class="col-form-label editor-label">Notes:</label>
      <div>
        {{textarea rows="3" class="form-control" value=model.notes id="employee-notes"}}
      </div>
    </div>
  </div>
</div>
