<div class="row">
  <div class="form-group row">
    <label for="employee-first-name" class="col-xs-4 col-form-label">First Name</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.firstName id="employee-first-name"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-last-name" class="col-xs-4 col-form-label">Last Name</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.lastName id="employee-last-name"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-email" class="col-xs-4 col-form-label">Email</label>
    <div class="col-xs-8">
      {{input type="email" class="form-control" value=model.email id="employee-email" required="required"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-phone-number" class="col-xs-4 col-form-label">Phone Number</label>
    <div class="col-xs-8">
      {{input type="tel" class="form-control" value=model.phoneNumber id="employee-phone-number" required="required"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-street-number" class="col-xs-4 col-form-label">Street Number</label>
    <div class="col-xs-8">
      {{input type="number" class="form-control" value=model.streetNumber id="employee-street-number"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-street-name" class="col-xs-4 col-form-label">Street Name</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.streetName id="employee-street-name"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-city" class="col-xs-4 col-form-label">City</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.city id="employee-city"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-province" class="col-xs-4 col-form-label">Province</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.province id="employee-province"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-postal-code" class="col-xs-4 col-form-label">Postal Code</label>
    <div class="col-xs-8">
      {{input class="form-control" value=model.postalCode id="employee-postal-code"}}
    </div>
  </div>
  <div class="form-group row">
    <label for="employee-start-date" class="col-xs-4 col-form-label">Start Date</label>
    <div class="col-xs-8">
      {{input type="datetime-local" class="form-control" value=model.startDate id="employee-start-date"}}
    </div>
  </div>
</div>
