<table id="has-datatable" class="management-table" width="100%">
  <thead>
    <tr>
      {{#each headers as |header|}}
        <th>
          <h1>{{header}}</h1>
        </th>
      {{/each}}
      {{#if employeeCollection}}
        <th>
          <h1>User Account</h1>
        </th>
      {{/if}}
      {{#each-in operations as |key value|}}
        <th></th>
      {{/each-in}}
    </tr>
  </thead>
  <tbody class="management-table-body">
    {{#each model as |collection|}}
    <tr class="management-table-row {{collection.id}}">
      {{#each-in attributes as |key value|}}
      <td class="management-column" data-th="{{value}}">
        {{get collection key}}
      </td>
      {{/each-in}}
      {{#if employeeCollection}}
        <td class="operation-div">
          <div class="management-operation">
            {{#if collection.user}}
              {{#link-to 'users.show' collection.user.id class="management-icon"}}
              <span class="glyphicon glyphicon-user"></span>
              {{/link-to}}
            {{else}}
              {{#link-to 'users.new' collection.id class="management-icon"}}
              <span class="glyphicon glyphicon-plus"></span>
              {{/link-to}}
            {{/if}}
          </div>
        </td>
      {{/if}}

      {{#if operations}}
        {{#each-in operations as |key value|}}
          <td class="operation-div">
            <div class="management-operation">
              {{#link-to key  collection.id class="management-icon"}}
              <span class="glyphicon {{value}}"></span>
             {{/link-to}}
           </div>
          </td >
       {{/each-in}}
      {{/if}}

      {{#if operations}}
        <button type="button" class="btn toggle-operations"{{action 'viewOperations' collection.id}}>
          <span class="glyphicon glyphicon-option-vertical"></span>
        </button>
      {{/if}}
    </tr>
    <br />
    {{/each}}
  </tbody>
</table>
<br />
