<div class="pos-f-t" id="navigation-menu">
  <nav class="navbar-main navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="navbar-toggle-button-left-small-screen">
      <span class="navbar-toggler-icon"></span>
    </button>
    {{#if session.isAuthenticated}}
      <button type="button" {{action 'openNav'}} data-target="#mySidenav" aria-controls="mySidenav" aria-expanded="false" aria-label="Toggle quick controls" class="mySidenav">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    {{/if}}
    <div class="navbar-brand">&nbsp;</div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <img src="/assets/images/logo.png" class='logo' width="150px" height="40px">
        </li>
        {{#if session.isAuthenticated}}
          {{#if currentUser.user.admin}}
            <li class="nav-item">{{#link-to 'my-calendar' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-calendar"></span> Schedule{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'booking-history' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-book"></span> Booking History{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'clients' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Customers{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'employees' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Staff{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'services' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-tag"></span> Services{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'my-account' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-cog"></span> Settings{{/link-to}}</li>
            <li class="nav-item"><button type="button" class="btn btn-outline-danger nav-list-item" {{action 'invalidateSession'}}><span class="glyphicon glyphicon-off"></span> Logout</button></li>
          {{else}}
            <li class="nav-item">{{#link-to 'my-calendar' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-calendar"></span> Schedule{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'clients' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Customers{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'employees' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-user"></span> Staff{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'services' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-tag"></span> Services{{/link-to}}</li>
            <li class="nav-item">{{#link-to 'my-account' class='nav-link nav-list-item'}}<span class="glyphicon glyphicon-cog"></span> Settings{{/link-to}}</li>
            <li class="nav-item"><button type="button" class="btn btn-outline-danger nav-list-item" {{action 'invalidateSession'}}><span class="glyphicon glyphicon-off"></span> Logout</button></li>
          {{/if}}
        {{else}}
          <li class="nav-item">{{#link-to 'login' class='nav-link nav-list-item'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>
{{#if session.isAuthenticated}}
  <aside id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick={{action 'closeNav'}}>&times;</a>
    <p class="sidenav-p">
      <span>Add a New:</span>
    </p>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <button type='button' class='btn btn-lg nav-list-item' {{action 'handleAddNewAppointment'}}>&#x2b; Appointment</button>
      </li>
      <li class="nav-item">
        <button type='button' class='btn btn-lg nav-list-item' {{action 'handleAddNewClient'}}>&#x2b; Client</button>
      </li>
    </ul>
  </aside>
{{/if}}
