	  <div class="form-group">
	    <label for="employee-id" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Employee ID</label>
		    <div class="col-xs-12">
		    	<div class="input-group">
		      		{{input class="form-control" type="text" value=model.employee.id id="employee-id" readonly=true}}
		    	</div>
		    </div>
	  </div>
	  <div class="form-group">
	    <label for="user-email" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Username</label>
	    <div class="col-xs-12">
	    	<div class="input-group">
	      		{{input class="form-control" type="text" value=model.email id="user-email"}}
	    	</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="user-new-password" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">New Password</label>
	    <div class="col-xs-12">
	    	<div class="input-group">
	      		{{input class="form-control" type="password" value=model.password id="user-new-password"}}
	      	</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="user-confirm-password" class="col-xs-12 col-form-label font-weight-bold" style="text-transform: uppercase;">Confirm Password</label>
	    <div class="col-xs-12">
	    	<div class="input-group">
	      		{{input class="form-control" type="password" value=model.confirm id="user-confirm-password"}}
	      	</div>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="user-admin" class="col-xs-4 col-form-label font-weight-bold" style="text-transform: uppercase;">Admin</label>
	    <div class="col-xs-12">
	    	<div class="input-group">
		      {{#x-select action='selectAdmin' id="admin-select" value=model.admin as |xs|}}
		        {{#each-in yesNoTranslationMap as |key value|}}
		          {{#xs.option value=value}}
		            {{key}}
		          {{/xs.option}}
		        {{/each-in}}
		      {{/x-select}}
		    </div>
	    </div>
      </div>


