<div class="management-div appointment-history">
  <div class="management-title-div">
      <h4><span class="glyphicon glyphicon-book"></span>Appointment History</h4>
  </div>
  <br />
  <div>
    <table id="has-datatable" class="management-table" width="100%">
      <thead>
        <tr>
          <th>
            <h1>Service</h1>
          </th>
          {{#each headers as |header|}}
            <th>
              <h1>{{header}}</h1>
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody class="history-table-body">
        {{#each model as |record|}}
          <tr class="history-table-row {{record.id}}">
            <td data-th="{{record.service}}">
              {{record.service.name}}
            </td>
            {{#each-in attributes as |key value|}}
              <td class="history-column {{value}}">
                {{#if (eq value "Client")}}
                  {{get record "client.first_name"}}
                  {{get record key}}
                {{else if (eq value "Employee")}}
                  {{get record "employee.first_name"}}
                  {{get record key}}
                {{else}}
                  {{get record key}}
                {{/if}}
              </td>
            {{/each-in}}
          <details>
            {{#each-in attributes as |key value|}}
              <tr class="history-detail-row {{value}}" data-th="{{value}}: ">
                {{#if (eq value "Client")}}
                  {{get record "client.first_name"}}
                  {{get record key}}
                {{else if (eq value "Employee")}}
                  {{get record "employee.first_name"}}
                  {{get record key}}
                {{else}}
                  {{get record key}}
                {{/if}}
              </tr>
            {{/each-in}}
          </details>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
