<div class="container-fluid">
  <h2 class="text-center">Booking Information</h2>
  <div class="row">
    <div class="col-12">
      <div id="smartwizard" class="wizard_horizontal col-12">
        <ul class="wizard_steps col-12">
          <li class="col-2.4">
            <a href="#step-1">
            <span class="step_no">1</span>
            <span class="step_descr">Service</span>
            </a>
          </li>
          <li class="col-2.4">
            <a href="#step-2">
            <span class="step_no">2</span>
            <span class="step_descr">Date</span>
            </a>
          </li>
          <li class="col-2.4">
            <a href="#step-3">
            <span class="step_no">3</span>
            <span class="step_descr">Your Info</span>
            </a>
          </li>
          <li class="col-2.4">
            <a href="#step-4">
            <span class="step_no">4</span>
            <span class="step_descr">Confirm</span>
            </a>
          </li>
        </ul>
        <div>
          <div id="step-1">
            <div class="row">
              <div class="col-12 text-center">
                <h3>Select a Service</h3>
                <hr>
              </div>
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Service</th>
                      <th>Duration</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each services as |s|}}
                      <tr>
                        <td>{{s.name}}</td>
                        <td>{{s.duration}}</td>
                        <td>{{s.price_small}}</td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="step-2">
            <div class="row">
              <div class="col-12 text-center">
                <h3>Enter Date Selections</h3>
                <hr>
              </div>
              <div class="container">
                <div class="schedule">
                  <div class="calendar-view">
                    {{full-calendar
                      header=header
                      aspectRatio=1
                      viewName=viewName
                      fixedWeekCount=false
                      businessHours=businessHours
                      dayClick=(action 'handleCalendarDayClick')
                    }}
                  </div>
                  {{#if selectTime}}
                    {{appointment-time-selection
                      selectTime=selectTime
                      selectedDate=selectedDate
                      model=appointment
                      listOfEmployees=employees
                      businessHours=businessHours
                    }}
                  {{/if}}
                  <div class="authors"></div>
                   <div class="calendar-times col-6">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="step-3">
            <div class="row">
              <div class="col-12 text-center">
                <h3>Please Fill in the Information</h3>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <form>
                  <div class="form-group row">
                    <label class="col-3 client-information" for="personal-info-name">Name</label>
                    <div class="col-9">
                      <input type="text" class="form-control" id="personal-info-name" placeholder="Name">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-3 client-information" for="personal-info-email"><span>Email Address</span></label>
                    <div class="col-9">
                      <input type="email" class="form-control" id="personal-info-email" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-3 client-information" for="personal-info-address">Address</label>
                    <div class="col-9">
                      <input type="text" class="form-control" id="personal-info-address" placeholder="Address">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-3 client-information" for="personal-info-phone-number">Phone number</label>
                    <div class="col-9">
                      <input type='tel' class="form-control" id="personal-info-phone-number" pattern='[\+]\d{1}[\(]\d{3}[\)]\d{3}[\-]\d{4}' placeholder='Format: +0(000)000-0000'>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="personal-info-comments">Comments</label>
                    <textarea class="form-control" id="personal-info-comments" rows="3" placeholder="Comments"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="step-4">
            <div class="row">
              <div class="col-sm-12">
                <div class="text-center">
                  <h3>Your Booking Overview</h3>
                </div>
                <hr>
                <div class="row justify-content-between">
                  <div class="col-sm-3">
                    <div class="card booking-confirm-card">
                      <div class="card-header">
                        Service
                      </div>
                      <div class="card-block">
                        <strong>Service:</strong> Engine degrease<br>
                        <strong>Duration:</strong> 90 min<br>
                        <strong>Price:</strong> $100<br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card booking-confirm-card">
                      <div class="card-header">
                        Booking Date
                      </div>
                      <div class="card-block">
                        <strong>Date:</strong><br>
                        Jan 1, 2017<br>
                        <strong>Time:</strong><br>
                        11:00 AM<br>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card booking-confirm-card">
                      <div class="card-header">
                        Personal Information
                      </div>
                      <div class="card-block">
                        <strong>Leann Labelle:</strong><br>
                        leann@gmail.com<br>
                        123 Street Street<br>
                        613 213 - 4567<br>
                        <strong>Comments:</strong><br>
                        Hi<br>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>