<div class="admin-info">
  <h3 class="page-title">My Account Information</h3>
  <form class="my-information" {{action 'save' on="submit"}}>
    <label for="username">
      <span>Username*</span>
      {{input value=username value=model.user.email required="required" id="user-email"}}
    </label>
    <label for="password">
      <span>Password <span class="required">*</span></span>
      {{input value=password value=model.user.password required="required" id="user-password"}}
    </label>
    <label for="first_name">
      <span>First Name <span class="required">*</span></span>
      {{input value=first_name value=model.user.employee.firstName id="user-first-name"}}
    </label>
    <label for="last_name">
      <span>Last Name <span class="required">*</span></span>
      {{input value=last_name value=model.user.employee.lastName id="user-last-name"}}
    </label>
    <label for="phone">
      <span>Phone <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.phoneNumber id="user-phone-number"}}
    </label>
    <label for="street_number">
      <span>Street Number <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.streetNumber id="user-street-number"}}
    </label>
    <label for="street_name">
      <span>Street Name <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.streetName id="user-street-name"}}
    </label>
    <label for="city">
      <span>City <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.city id="user-city"}}
    </label>
    <label for="province">
      <span>Province <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.province id="user-province"}}
    </label>
    <label for="postal_code">
      <span>Postal Code <span class="required">*</span></span>
      {{input value=phone value=model.user.employee.postalCode id="user-postal-code"}}
    </label>
    <label for="start_date">
      <span>Start Date </span>
      {{model.employee.startDate}}
    </label>
    <span><button type="submit" class ="btn btn-primary button-color">Save</button></span>
  </form>
</div>
