<div style="margin-top:71px">
  <div class="row">
    <div class="col-md-4 offset-md-8">
      Change Calendar View:
      <div class="btn-group">
        <button onclick={{action "changeView" "month"}} class="btn btn-outline-primary btn-sm">Month</button>
        <button onclick={{action "changeView" "agendaWeek"}} class="btn btn-outline-primary btn-sm">Week</button>
        <button onclick={{action "changeView" "agendaDay"}} class="btn btn-outline-primary btn-sm">Day</button>
      </div>
    </div>
  </div>
  {{full-calendar
    events=model
    viewName=viewName
    businessHours=businessHours
    eventClick=(action 'handleCalendarEventClick')
    dayClick=(action 'handleCalendarDayClick')
  }}
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add Appointment</h4>
        </div>
        <div class="modal-body">
          Date: {{newAppointmentDate}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
