<h1>New Employee</h1>

<!--form_for produces  form for the object passed to it and spits it out in the form_builder pipe-->
<%= form_for(@employee) do |form_builder|%>

	<div>
		<%= form_builder.label(:last_name) %><br/>
		<%= form_builder.text_field(:last_name) %><br/>
	</div>

	<div>
		<%= form_builder.label(:first_name) %><br/>
		<%= form_builder.text_field(:first_name) %><br/>
	</div>

	<div>
		<%= form_builder.label(:email) %><br/>
		<%= form_builder.text_field(:email) %><br/>
	</div>

	<div>
		<%= form_builder.label(:phone_number) %><br/>
		<%= form_builder.text_field(:phone_number) %><br/>
	</div>

	<div>
		<%= form_builder.label(:isAdmin) %><br/>
		<%= form_builder.text_field(:isAdmin) %><br/>
	</div>

	<div>
		<%= form_builder.label(:start_date) %><br/>
		<%= form_builder.date_select :start_date %><br/>
	</div>

	<div>
		<%= form_builder.label(:street_number) %><br/>
		<%= form_builder.text_field(:street_number) %><br/>
	</div>

	<div>
		<%= form_builder.label(:street_name) %><br/>
		<%= form_builder.text_field(:street_name) %><br/>
	</div>

	<div>
		<%= form_builder.label(:city) %><br/>
		<%= form_builder.text_field(:city) %><br/>
	</div>

	<div>
		<%= form_builder.label(:province) %><br/>
		<%= form_builder.text_field(:province) %><br/>
	</div>

	<div>
		<%= form_builder.label(:postal_code) %><br/>
		<%= form_builder.text_field(:postal_code) %><br/>
	</div>

	<!--sends a POST request (CREATE) to /employees with the info entered in the form as payload in the form of a hash. Rails stores that hash inside the params hash -->
	<%= form_builder.submit %>

<%end%>