<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>	

<p><b>Email: </b><%= @employee.email %></p>
<p><b>Phone number: </b><%= @employee.phone_number %></p>
<p><b>Start Date: </b><%= @employee.start_date %></p>
<p><b>Admin: </b><%= @employee.is_admin %></p>
<p><b>Address: </b><%= @employee.street_number %> <%= @employee.street_name %><br/>
				  	 <%= @employee.city %>, <%=@employee.province %><br/>
				  	 <%= @employee.postal_code %></p>

<%= link_to("Back to Employees", employees_path) %>